{% extends 'base.html.twig' %}
{% block title %}Запчастини{% endblock %}
{% block body %}

    <div class="text-center">
        <h1>Запчастини</h1>

        <form id="form_item" method="GET">
            <div class="admin-sherch d-flex justify-content-center">
                <div class="form-inline">
                    <div class="form-group mx-sm-3 mb-2">
                        <input type="text" class="form-control admin-input-sherch" id="item-serch" name="serch"
                               value="{{ serch }}" placeholder="Пошук">
                    </div>
                    <button type="submit" class="btn btn-outline-primary mb-2">Пошук</button>
                </div>
            </div>

            {#<form id="form_item" method="GET">#}
                <div class="admin-txt-font"> Пошук по Рубриці 1: &nbsp</div>
                <select name="mid" id="mid" class="cat form-control admin-input">
                    <option value="0" {{ model_id == 0  ? 'selected=""' : '' }}>Вибрати</option>
                    {% for modelMenu in modelMenus %}
                        <option value="{{ modelMenu.id }}" {{ model_id == modelMenu.id  ? 'selected=""' : '' }}>
                            {{ modelMenu.name }}
                        </option>                                          
                    {% endfor %}
                </select>

                <div class="admin-txt-font"> Пошук по Рубриці 2: &nbsp</div>
                <select name="aid" id="aid" class="cat form-control admin-input" {{ model_id == 0  ? 'disabled="" style="background: transparent;"' : '' }}>
                    <option value="0" {{ auto_id == 0  ? 'selected=""' : '' }}>Вибрати</option>
                    {% for auto in autoMenu %}
                        <option value="{{ auto.id }}" {{ auto_id == auto.id  ? 'selected=""' : '' }}>
                            {{ auto.name }}
                        </option>                                          
                    {% endfor %}
                </select>

                <div class="admin-txt-font"> Пошук по Рубриці 3: &nbsp</div>
                <select name="did" id="did" class="cat form-control admin-input" {{ auto_id == 0  ? 'disabled="" style="background: transparent;"' : '' }}>
                    <option value="0" {{ data_id == 0  ? 'selected=""' : '' }}>Вибрати</option>
                    {% for data in dataMenu %}
                        <option value="{{ data.id }}" {{ data_id == data.id  ? 'selected=""' : '' }}>
                            {{ data.name }}
                        </option>                                          
                    {% endfor %}
                </select>
                <br>

                <br>

            </form>

        <br/><a href="{{ path('items_new') }}" class="btn btn-outline-primary">Створити нову запчастиниу</a><br/><br/>

        <div class="count h6">
            Всього результатів: {{ items.getTotalItemCount }}
        </div><br/>

        <div class="navigation row justify-content-center align-items-center">
            {{ knp_pagination_render(items) }}
        </div><br/>

        <table align="center" class="admin-table table table-bordered table-hover h6">
            <thead>
            <tr>
                <th class="align-middle text-center admin-azer-data">
                    Інші дані:
                </th>
                <!--<th>&nbsp;</th>-->
                <th class="align-middle">{{ knp_pagination_sortable(items, 'Імя', 'a.name') }}</th>
                <th class="admin-widht-id align-middle">{{ knp_pagination_sortable(items, 'Id', 'a.id') }}</th>
                <th class="align-middle text-center admin-widht-action">Дії</th>
            </tr>
            </thead>
            <tbody>
            {% for Item in items %}
                <tr>
                    <td class="admin-oll-data admin-padding">
                        {{ knp_pagination_sortable(items, 'Рубрика 1', 'a.modelMenuId') }}<br/>
                        {{ Item.model.name }}<br/>
                        {{ knp_pagination_sortable(items, 'Рубрика 2', 'a.autoMenuId') }}<br/>
                        {{ Item.auto.name }}<br/>
                        {{ knp_pagination_sortable(items, 'Рубрика 3', 'a.dataMenuId') }}<br/>
                        {{ Item.data.name }}
                    </td>

                    <td class="delete-modal-info">
                        {{ Item.name | raw }}<br/>
                        <b class="bloo">Ціна:</b>
                        {% if Item.price == null %}
                            Під заказ
                        {% elseif Item.price | money_as_float == 0 %}
                            Під заказ
                        {% else %}
                            {{ Item.price | money_convert("UAH") | money_format }}
                        {% endif %}
                    </td>
                    <td class="text-center">{{ Item.id }}</td>
                    <td class="admin-padding">

                        <a href="{{ path('items_show', { 'id': Item.id }) }}"
                           class="btn btn-outline-primary btn-sm">Показати</a>
                        <a href="{{ path('items_edit', { 'id': Item.id }) }}"
                           class="btn btn-outline-primary btn-sm">Редагувати</a>
                        <a class="btn btn-outline-danger btn-sm is-delete"
                           href="{{ path('items_delete', {'id': Item.id}) }}">Видалити</a><br/><br/>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <br/><div class="navigation row justify-content-center align-items-center">
            {{ knp_pagination_render(items) }}
        </div>

        <br/><a href="{{  path('items_new') }}" class="btn btn-outline-primary">Створити нову запчастиниу</a><br/><br/><br/>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {

            $("#serch_btn").click(function () {
                $("#form_serch").submit();
            });

            $("#mid").change(function () {
                $("#aid").val(0);
                $("#did").val(0);
                $("#form_item").submit();
            });

            $("#aid").change(function () {
                $("#did").val(0);
                $("#form_item").submit();
            });

            $("#did").change(function () {
                $("#form_item").submit();
            });

        });
    </script>    
{% endblock %}
