{% extends 'base.html.twig' %}

{% block body %}

    <div class="text-center">

        <h1>Авто Меню редагування</h1>

        {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <br/><button class="ui-button ui-corner-all ui-widget">Редагувати</button>
        {{ form_end(edit_form) }}

        <br/> <a href="{{ path('automenu_index') }}"><button class="ui-button ui-corner-all ui-widget">Вернутись назад</button></a><br/><br/>

        {{ form_start(delete_form) }}
        <button class="ui-button ui-corner-all ui-widget">Видалити</button>
        {{ form_end(delete_form) }}

    </div>

{% endblock %}
