{% extends "::base.html.twig" %}

{% block title %}Моделі{% endblock %}

{% block serch %}{% endblock %}
{% block body_up %}{% endblock %}
{% block body_down %}{% endblock %}

{% block body %}

    <!--serch and kategori-->
    <section id="searchmain-container">
        <div class="wrapper">

            <div class="form-row align-items-center search_div searchmain">
                <form class="form-inline">
                    <div class="input-group col-10">
                        <span class="input-group-addon wight_background height37"><span
                                    class="glyphicon glyphicon-search"></span></span>
                        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Пошук...">
                    </div>

                    <button type="button" class="btn btn-light"><span class="glyphicon glyphicon-search"
                                                                      aria-hidden="true"></span> &nbsp; <b>ПОШУК</b>
                    </button>
                </form>
            </div>


            <div class="maincategories">

                {% set k = 0 %}
                {% set i = 0 %}
                {% for key, model in modelMenus %}

                    {% if i % 4 == 0 %}<div class="maincategories-list clr">{% endif %}



                    <div class="li fleft">
                        <div class="item">
                            <a href="{{ path('products_autos', { 'model_id': model.id }) }}" data-id="36"
                               class="link parent klik" tid="{{ key }}">
                                <span><b>{{ model.name }}</b></span>
                                <span class="cat-icon cat-icon-circle cat-icon-i">{{ model.name | first | upper }}</span>
                            </a>
                        </div>
                    </div>


                    {% if i % 4 == 3 %}
                        </div>

                        {% for j in key-3..key %}

                            <div class="subcategories-list clr" style="display:none" data-subcategory="36"
                                 id="botton{{ j }}">

                                <div class="subcategories-title">
                                    <a href="{{ path('products_autos', { 'model_id':  modelMenus[j].id }) }}"
                                       data-id="36" class="link inlblk"><strong> Показати всі
                                            оголошення</strong></a> - {{ modelMenus[j].name }}
                                </div>
                                <ul>
                                    {% for key2, auto in modelMenus[j].autos %}

                                        <li class="fleft">
                                            <a data-id="539" data-category-id="36"
                                               href="{{ path('products_data', { 'model_id': modelMenus[j].id, 'auto_id': auto.id }) }}"
                                               class="link-relatedcategory cat-36 inlblk tdnone icon-link">
                                        <span class="link block category-name">
                                            <span>{{ auto.name }}</span>
                                        </span>
                                            </a>
                                        </li>

                                    {% endfor %}

                                </ul>
                            </div>

                        {% endfor %}

                    {% endif %}

                    {% set k = key %}
                    {% set i = i + 1 %}
                {% endfor %}
                {% if i % 4 != 0 %}</div>


            {% for j in k-(i % 4)+1..k %}

                <div class="subcategories-list clr" style="display:none" data-subcategory="36" id="botton{{ j }}">

                    <div class="subcategories-title">
                        <a href="{{ path('products_autos', { 'model_id':  modelMenus[j].id }) }}"
                           data-id="36" class="link inlblk"><strong> Показати всі
                                оголошення</strong></a> - {{ modelMenus[j].name }}
                    </div>
                    <ul>
                        {% for key2, auto in modelMenus[j].autos %}

                            <li class="fleft">
                                <a data-id="539" data-category-id="36"
                                   href="{{ path('products_data', { 'model_id': modelMenus[j].id, 'auto_id': auto.id }) }}"
                                   class="link-relatedcategory cat-36 inlblk tdnone icon-link">
                                        <span class="link block category-name">
                                            <span>{{ auto.name }}</span>
                                        </span>
                                </a>
                            </li>

                        {% endfor %}

                    </ul>
                </div>

            {% endfor %}

            {% endif %}


            <!--orstyp-->
            <div class="maincategories-list clr">
                <div id="div-gpt-dsk-hp-vc2-new">
                    <div></div>
                </div>
            </div>

        </div>

        </div>
    </section>

    <!--body conteyner-->
    <section id="body-container">
        <div></div>
        <div></div>

        <!--wrapper-->
        <div class="wrapper">


            <!--top 30-->
            <section class="mainpage-gallery clr" id="mainpageAds">

                <header>
                    <h3> Всі оголошення </h3>
                </header>
                <ul class="gallerywide clr normal" id="gallerywide">

                    <!--max 30 -->
                    {% for key, item in Items %}

                    <li class="wrap tleft rel fleft ad_idvVjnO ">

                        <div class="mheight tcenter">
                            <a title="{{ item.name |striptags}}" href="{{ path('products_product', { 'product_id': item.id }) }}" class="thumb tdnone scale1 rel detailsLinkPromoted linkWithHash ">
                                <img alt="{{ item.name |striptags}}"
                                     src="/img/upload/{% if item.pictures|length > 0 %}{{ item.pictures[0].imageName}}{% else %}nofoto.jpg{% endif %}">
                                <span class="inlblk icon paid  abs zi2" title="{{ item.name |striptags}}"></span>
                            </a>
                        </div>

                        <div class="inner">

                            <h4 class="normal">
                                <a href="{{ path('products_product', { 'product_id': item.id }) }}" title="{{ item.name |striptags}}" class="link linkWithHash detailsLinkPromoted">
                                    <strong>{{ item.name |striptags}}</strong>
                                </a>
                            </h4>
                            <p class="lheight14 color-1 margintop2 brkword">
                                            <span class="breadcrumb small">{{ item.details |striptags}}</span>
                            </p>
                        </div>
                        <div class="price ">
                            {% if item.price == null %}
                                Під заказ
                            {% elseif item.price | money_as_float == 0 %}
                                Під заказ
                            {% else %}
                                {{ item.price | money_convert("UAH") | money_format }}
                            {% endif %}
                        </div>

                    </li>
                    {% endfor %}

                </ul>

                <div class="tright more-link">
                    <a href="https://www.site.ua/list/?search%5Bad_homepage_to%3Afrom%5D=2018-01-25" id="homeShowAllAds" class="tdnone">
                        <strong class="link large inlblk rel">
                            <span>Посмотреть все</span>
                        </strong>
                        <i data-icon="raquo"></i>
                    </a>
                </div>

            </section>



            <div></div>
        </div>



    </section>


{% endblock %}
