{% extends "::base.html.twig" %}

{% block title %}Моделі{% endblock %}

{% block serch %}{% endblock %}
{% block body_up %}{% endblock %}
{% block body_down %}{% endblock %}

{% block body %}

    <!--serch and kategori-->
    <section id="searchmain-container">
        <div class="wrapper">

            <div class="form-row align-items-center search_div searchmain">
                <form class="form-inline">
                    <div class="input-group col-10">
                        <span class="input-group-addon wight_background height37"><span
                                    class="glyphicon glyphicon-search"></span></span>
                        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Пошук...">
                    </div>

                    <button type="button" class="btn btn-light"><span class="glyphicon glyphicon-search"
                                                                      aria-hidden="true"></span> &nbsp; <b>ПОШУК</b>
                    </button>
                </form>
            </div>


            <div class="maincategories">

                {% set k = 0 %}
                {% set i = 0 %}
                {% for key, model in modelMenus %}

                    {% if i % 4 == 0 %}<div class="maincategories-list clr">{% endif %}



                    <div class="li fleft">
                        <div class="item">
                            <a href="{{ path('products_autos', { 'model_id': model.id }) }}" data-id="36"
                               class="link parent klik" tid="{{ key }}">
                                <span><b>{{ model.name }}</b></span>
                                <span class="cat-icon cat-icon-circle cat-icon-i">{{ model.name | first | upper }}</span>
                            </a>
                        </div>
                    </div>


                    {% if i % 4 == 3 %}
                        </div>

                        {% for j in key-3..key %}

                            <div class="subcategories-list clr" style="display:none" data-subcategory="36"
                                 id="botton{{ j }}">

                                <div class="subcategories-title">
                                    <a href="{{ path('products_autos', { 'model_id':  modelMenus[j].id }) }}"
                                       data-id="36" class="link inlblk"><strong> Показати всі
                                            оголошення</strong></a> - {{ modelMenus[j].name }}
                                </div>
                                <ul>
                                    {% for key2, auto in modelMenus[j].autos %}

                                        <li class="fleft">
                                            <a data-id="539" data-category-id="36"
                                               href="{{ path('products_data', { 'model_id': modelMenus[j].id, 'auto_id': auto.id }) }}"
                                               class="link-relatedcategory cat-36 inlblk tdnone icon-link">
                                        <span class="link block category-name">
                                            <span>{{ auto.name }}</span>
                                        </span>
                                            </a>
                                        </li>

                                    {% endfor %}

                                </ul>
                            </div>

                        {% endfor %}

                    {% endif %}

                    {% set k = key %}
                    {% set i = i + 1 %}
                {% endfor %}
                {% if i % 4 != 0 %}</div>


            {% for j in k-(i % 4)+1..k %}

                <div class="subcategories-list clr" style="display:none" data-subcategory="36" id="botton{{ j }}">

                    <div class="subcategories-title">
                        <a href="{{ path('products_autos', { 'model_id':  modelMenus[j].id }) }}"
                           data-id="36" class="link inlblk"><strong> Показати всі
                                оголошення</strong></a> - {{ modelMenus[j].name }}
                    </div>
                    <ul>
                        {% for key2, auto in modelMenus[j].autos %}

                            <li class="fleft">
                                <a data-id="539" data-category-id="36"
                                   href="{{ path('products_data', { 'model_id': modelMenus[j].id, 'auto_id': auto.id }) }}"
                                   class="link-relatedcategory cat-36 inlblk tdnone icon-link">
                                        <span class="link block category-name">
                                            <span>{{ auto.name }}</span>
                                        </span>
                                </a>
                            </li>

                        {% endfor %}

                    </ul>
                </div>

            {% endfor %}

            {% endif %}


            <!--orstyp-->
            <div class="maincategories-list clr">
                <div id="div-gpt-dsk-hp-vc2-new">
                    <div></div>
                </div>
            </div>

        </div>

        </div>
    </section>

    <div class="text-center">
        <h1>Моделі</h1>
    </div>

    <div class="text-marning">

        {% for model in modelMenus %}
            <div class="marning-smoll"><a
                        href="{{ path('products_autos', { 'model_id': model.id }) }}">{{ model.name }}</a></div>
        {% endfor %}

    </div>
    <br/><br/><br/><br/>


{% endblock %}
