{% extends 'base.html.twig' %}
{% block title %}Користувачі{% endblock %}
{% block body %}

    <div class="text-center">

        <h1>Користувачі</h1>

        <a href="{{ path('user_new') }}" class="btn btn-outline-primary">Створити новаго користувача</a><br/><br/>
        
        <table align="center" class="admin-table table table-bordered table-hover h6">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Імя</th>
                    <th>Прізвище</th>
                    <th>Роль</th>
                    <th>Дії</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.surname }}</td>
                        <td>{{ user.roles|join(',') }}</td>
                        <td class="admin-padding" style="width: 130px">

                            <a href="{{ path('user_show', { 'id': user.id }) }}" class="btn btn-outline-primary btn-sm">Показати</a>
                            <a href="{{ path('user_edit', { 'id': user.id }) }}" class="btn btn-outline-primary btn-sm">Редагувати</a>
                            <a href="{{ path('user_delete', { 'id': user.id }) }}" class="btn btn-outline-danger btn-sm is-delete">Видалити</a>

                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

         <br/><a href="{{ path('user_new') }}" class="btn btn-outline-primary">Створити новаго користувача</a><br/><br/><br/>
    </div>
{% endblock %}
