{% extends 'base.html.twig' %}

{% block title %}Рубрика 1 редагування{% endblock %}
{% block body %}
    <div class="text-center"> 
        
    <h1>Рубрика 1 редагування</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}        
        <br/><button class="btn btn-outline-primary">Редагувати</button>
    {{ form_end(edit_form) }}
    
    
        <br/> <a href="{{ path('modelmenu_index') }}"><button class="btn btn-outline-primary">Вернутись назад</button></a><br/><br/>
        
        <a class="btn btn-outline-danger" href="{{ path('modelmenu_delete', {'id': modelMenu.id}) }}">Видалити</a><br/><br/>
                
    </div>
{% endblock %}
