{% extends 'base.html.twig' %}

{% block title %}Рубрика 1{% endblock %}
{% block body %}

    <div class="text-center">    

        <h1>Рубрика 1</h1>

        <a href="{{ path('modelmenu_new') }}" class="btn btn-outline-primary">Створити нову Рубрику 1</a><br/><br/>

        <div class="count h6">
            Всього результатів: {{ modelMenus.getTotalItemCount }}
        </div><br/>

        <div class="navigation row justify-content-center align-items-center">
            {{ knp_pagination_render(modelMenus) }}
        </div><br/><br/>

        <table align="center" class="admin-table1 table table-bordered table-hover h6">
            <thead>
                <tr>
                    <th>{{ knp_pagination_sortable(modelMenus, 'Імя', 'a.name') }}</th>
                    <th class="admin-widht-id">{{ knp_pagination_sortable(modelMenus, 'Id', 'a.id') }}</th>
                    <th class="align-middle admin-widht-action">Дії</th>
                </tr>
            </thead>
            <tbody>
                {% for modelMenu in modelMenus %}
                    <tr>
                        <td><a href="{{ path('modelmenu_show', { 'id': modelMenu.id }) }}">{{ modelMenu.name }}</a></td>
                        <td>{{ modelMenu.id }}</td>
                        <td class="admin-padding">

                            <a href="{{ path('modelmenu_show', { 'id': modelMenu.id }) }}" class="btn btn-outline-primary btn-sm">Показати</a>
                            <a href="{{ path('modelmenu_edit', { 'id': modelMenu.id }) }}" class="btn btn-outline-primary btn-sm">Редагувати</a>
                            <a class="btn btn-outline-danger btn-sm" href="{{ path('modelmenu_delete', {'id': modelMenu.id}) }}">Видалити</a>

                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <br/><div class="navigation row justify-content-center align-items-center">
            {{ knp_pagination_render(modelMenus) }}
        </div>

        <br/><br/><a href="{{ path('modelmenu_new') }}" class="btn btn-outline-primary">Створити нову Рубрику 1</a><br/><br/><br/>

    </div>

{% endblock %}
