{% extends 'base.html.twig' %}

{% block title %}Рубрика 1 перегляд{% endblock %}
{% block body %}
    
    <div class="text-center"> 
    
    <h1>Рубрика 1 перегляд</h1>

    <table align="center" class="admin-table table table-bordered table-hover h6">
        <tbody>
            <tr>
                <th class="table-success admin-widht-action bloo">Імя</th>
                <td class="delete-modal-info bloo">{{ modelMenu.name }}</td>
            </tr>
            <tr>
                <th class="table-success">Id</th>
                <td>{{ modelMenu.id }}</td>
            </tr>
        </tbody>
    </table>

    <br/><a href="{{ path('modelmenu_index') }}" class="btn btn-outline-primary">Вернутись назад</a><br/><br/>
    <a href="{{ path('modelmenu_edit', { 'id': modelMenu.id }) }}" class="btn btn-outline-primary">Редагувати</a><br/><br/>
    
    <a class="btn btn-outline-danger is-delete" href="{{ path('modelmenu_delete', {'id': modelMenu.id}) }}">Видалити</a>
        <br/><br/>

    </div>
{% endblock %}
