{% extends 'base.html.twig' %}

{% block body %}

    <div class="text-center">    

        <h1>Рубрика 1</h1>

        <a href="{{ path('onerubric_new') }}" class="btn btn-outline-primary">Створити нову Рубрику</a><br/><br/>

        <div class="count h6">
            Всього результатів: {{ OneRubrics.getTotalItemCount }}
        </div><br/>

        <div class="navigation row justify-content-center align-items-center">
            {{ knp_pagination_render(OneRubrics) }}
        </div><br/>

        <table align="center" class="admin-table1 table table-bordered table-hover h6">
            <thead>
                <tr>
                    <th>{{ knp_pagination_sortable(OneRubrics, 'Імя', 'a.name') }}</th>
                    <th class="admin-widht-id">{{ knp_pagination_sortable(OneRubrics, 'Id', 'a.id') }}</th>
                    <th class="align-middle admin-widht-action">Дії</th>
                </tr>
            </thead>
            <tbody>
                
                {% for OneRubric in OneRubrics %}

                    <tr>
                        <td><a href="{{ path('onerubric_show', { 'id': OneRubric.id }) }}">{{ OneRubric.name }}</a></td>
                        <td>{{ OneRubric.id }}</td>
                        <td class="admin-padding">                            
                            <a href="{{ path('onerubric_show', { 'id': OneRubric.id }) }}" class="btn btn-outline-primary btn-sm">Показати</a>                            
                            <a href="{{ path('onerubric_edit', { 'id': OneRubric.id }) }}" class="btn btn-outline-primary btn-sm">Редагувати</a>
                            <a class="btn btn-outline-danger btn-sm" href="{{ path('onerubric_delete', {'id': OneRubric.id}) }}">Видалити</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <br/><div class="navigation row justify-content-center align-items-center">
            {{ knp_pagination_render(OneRubrics) }}
        </div>
        <br/><br/>
        
        <a href="{{ path('onerubric_new') }}" class="btn btn-outline-primary">Створити нову Рубрику</a><br/><br/>

    </div>

{% endblock %}
