{% extends 'base.html.twig' %}

{% block body %}

    <div class="text-center">
        <h1>Рока Меню</h1>

        <form id="form_item" method="GET">
            Пшук: 
            <select name="mid" id="mid" class="cat">
                <option value="0" {{ model_id == 0  ? 'selected=""' : '' }}>Вибрати</option>
                {% for modelMenu in modelMenus %}
                    <option value="{{ modelMenu.id }}" {{ model_id == modelMenu.id  ? 'selected=""' : '' }}>
                        {{ modelMenu.name }}
                    </option>                                          
                {% endfor %}
            </select>

            <select name="aid" id="aid" class="cat" {{ model_id == 0  ? 'disabled="" style="background: transparent;"' : '' }}>
                <option value="0" {{ auto_id == 0  ? 'selected=""' : '' }}>Вибрати</option>
                {% for auto in autoMenu %}
                    <option value="{{ auto.id }}" {{ auto_id == auto.id  ? 'selected=""' : '' }}>
                        {{ auto.name }}
                    </option>                                          
                {% endfor %}
            </select>
        </form>

        <br/><a href="{{ path('datamenu_new') }}">Створити нову дату</a><br/><br/>

        <div class="count">
            Всього результатів: {{ dataMenus.getTotalItemCount }}
        </div><br/>

        <div class="navigation">
            {{ knp_pagination_render(dataMenus) }}
        </div><br/>

        <table align="center" class="admin-table admin-table-width">
            <thead>
                <tr>
                    <th>{{ knp_pagination_sortable(dataMenus, 'Модель', 'a.modelMenuId') }}</th>
                    <th>{{ knp_pagination_sortable(dataMenus, 'Авто', 'a.autoMenuId') }}</th>
                    <th>{{ knp_pagination_sortable(dataMenus, 'Рока', 'a.name') }}</th>
                    <th>{{ knp_pagination_sortable(dataMenus, 'Id', 'a.id') }}</th>
                    <th>Дії</th>
                </tr>
            </thead>
            <tbody>
                {% for dataMenu in dataMenus %}
                    <tr>
                        <td>
                            <a href="{{ path('datamenu_show', { 'id': dataMenu.id }) }}">{{ dataMenu.model.name }}</a>                            
                        </td>
                        <td>{{ dataMenu.auto.name }}</td>
                        <td>{{ dataMenu.name }}</td>
                        <td>{{ dataMenu.id }}</td>
                        <td>
                            <br/>
                            <a href="{{ path('datamenu_show', { 'id': dataMenu.id }) }}">Показати</a>
                            <br/>
                            <a href="{{ path('datamenu_edit', { 'id': dataMenu.id }) }}">Редагувати</a>
                            <br/><br/>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <br/><div class="navigation">
            {{ knp_pagination_render(dataMenus) }}
        </div>

        <br/><a href="{{  path('datamenu_new') }}">Створити нову дату</a><br/><br/>

    </div>

{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {

            $("#mid").change(function () {
                $("#aid").val(0);
                $("#form_item").submit();                
            });
            
            $("#aid").change(function () {
                $("#form_item").submit();
            });


        });
    </script>    
{% endblock %}