{% extends 'base.html.twig' %}
{% block title %}Список заказів{% endblock %}
{% block body %}

    <div class="text-center">

        <h1>Список заказів</h1>

        <a href="{{ path('oderemale_delete_all') }}" class="btn btn-outline-danger is-delete">Видалити Все</a><br/><br/>
        
        <div class="count h6">
            Всього результатів: {{ oderemales.getTotalItemCount }}
        </div><br/>

        <div class="navigation row justify-content-center align-items-center">
            {{ knp_pagination_render(oderemales) }}
        </div><br/>
        
        <table align="center" class="admin-table table table-bordered table-hover h6">
            <thead>
                <tr>
                    <th class="align-middle">{{ knp_pagination_sortable(oderemales, 'Id', 'a.id') }}</th>
                    <th class="align-middle">Заказ</th>
                    <th class="align-middle">{{ knp_pagination_sortable(oderemales, 'Час', 'a.data') }}</th>
                    <th class="align-middle">Дії</th>
                </tr>
            </thead>
            <tbody>
                {% for oderemale in oderemales %}
                    <tr>
                        <td><a href="{{ path('oderemale_show', { 'id': oderemale.id }) }}">{{ oderemale.id }}</a></td>
                        <td>{{ oderemale.oderemale |striptags |slice(0, 50)}}...</td>
                        <td style="width: 190px;">{{ oderemale.data |date("Y-m-d H:i:s")}}</td>
                        <td class="admin-padding">
                            

                            <a href="{{ path('oderemale_show', { 'id': oderemale.id }) }}" class="btn btn-outline-primary btn-sm">Показати</a><br/>
                            <a href="{{ path('oderemale_delete', { 'id': oderemale.id }) }}" class="btn btn-outline-danger btn-sm is-delete">Видалити</a>

                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <br/><div class="navigation row justify-content-center align-items-center">
            {{ knp_pagination_render(oderemales) }}
        </div><br/>
            
    </div>        
{% endblock %}
