{% extends 'base.html.twig' %}

{% block body %}

    <div class="text-center">
        <h1>Заказ</h1>

        <table align="center" class="admin-table admin-table-width">
            <tbody>
                <tr>
                    <th style="width: 60px">Id</th>
                    <td>{{ oderemale.id }}</td>
                </tr>
                <tr>
                    <th>Заказ</th>
                    <td>{{ oderemale.oderemale | raw}}</td>
                </tr>
                <tr>
                    <th>Час</th>
                    <td>{{ oderemale.data |date("Y-m-d H:i:s")}}</td>
                </tr>
            </tbody>
        </table>
        
        <br/><br/>
        <a href="{{ path('oderemale_index') }}"><button class="ui-button ui-corner-all ui-widget">Вернутись назад</button></a>
        <br/><br/>
        {{ form_start(delete_form) }}
        <button class="ui-button ui-corner-all ui-widget">Видалити</button>
        {{ form_end(delete_form) }}
        <br/><br/>
    </div>

{% endblock %}
