{% extends 'base.html.twig' %}
{% block title %}Список перетелефонуйте мені{% endblock %}
{% block body %}

    <div class="text-center">

        <h1>Список перетелефонуйте мені</h1>

        <a href="{{ path('sendemale_delete_all') }}" class="btn btn-outline-danger is-delete">Видалити Все</a><br/><br/>
        
        <div class="count h6">
            Всього результатів: {{ sendemales.getTotalItemCount }}
        </div><br/>

        <div class="navigation row justify-content-center align-items-center">
            {{ knp_pagination_render(sendemales) }}
        </div><br/>
        
        <table align="center" class="admin-table table table-bordered table-hover h6">
            <thead>
                <tr>
                    <th class="align-middle">{{ knp_pagination_sortable(sendemales, 'Id', 'a.id') }}</th>
                    <th class="align-middle">Перезвоніть мені</th>
                    <th class="align-middle">{{ knp_pagination_sortable(sendemales, 'Час', 'a.data') }}</th>
                    <th class="align-middle">Дії</th>
                </tr>
            </thead>
            <tbody>
                {% for sendemale in sendemales %}
                    <tr>
                        <td><a href="{{ path('sendemale_show', { 'id': sendemale.id }) }}">{{ sendemale.id }}</a></td>
                        <td>{{ sendemale.sendemale |striptags |slice(0, 50)}}...</td>
                        <td style="width: 190px;">{% if sendemale.data %}{{ sendemale.data|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td class="admin-padding" style="width: 130px">

                                    <a href="{{ path('sendemale_show', { 'id': sendemale.id }) }}" class="btn btn-outline-primary btn-sm">Показати</a>
                                    <a href="{{ path('sendemale_delete', { 'id': sendemale.id }) }}" class="btn btn-outline-danger btn-sm is-delete">Видалити</a>

                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <br/><div class="navigation row justify-content-center align-items-center">
            {{ knp_pagination_render(sendemales) }}
        </div><br/><br/><br/>

    </div>
{% endblock %}
