{% extends 'base.html.twig' %}

{% block body %}

    <div class="text-center">
        <h1>Перетелефонуйте мені</h1>

        <table align="center" class="admin-table admin-table-width">
            <tbody>
                <tr>
                    <th style="width: 150px">Id</th>
                    <td>{{ sendemale.id }}</td>
                </tr>
                <tr>
                    <th>Перезвоніть мені</th>
                    <td>{{ sendemale.sendemale | raw}}</td>
                </tr>
                <tr>
                    <th>Час</th>
                    <td>{% if sendemale.data %}{{ sendemale.data|date('Y-m-d H:i:s') }}{% endif %}</td>
                </tr>
            </tbody>
        </table>
                
        <br/><br/>
        <a href="{{ path('sendemale_index') }}"><button class="ui-button ui-corner-all ui-widget">Вернутись назад</button></a>
        <br/><br/>
        {{ form_start(delete_form) }}
        <button class="ui-button ui-corner-all ui-widget">Видалити</button>
        {{ form_end(delete_form) }}
        <br/><br/>

    </div>        
{% endblock %}
